html{
    font-size: 10px;
}
body{
    background-color: black;
    color: bisque;
    display: flex;
    align-items: baseline;
}
@font-face {
    /*Merriweather Sans font & Cutive Mono*/
    @import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Merriweather+Sans:wght@300&display=swap");
}

caption {
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 2%;
}

.sidenav{
    align-self: flex-start;
    position: sticky;
    top: 7.5rem;
    display: inline-block;
    width: 150rem;
    border: #9ea3a0 0.5px solid;
    background-color: #333330;
}
.sidenav h3{
    margin: 0.1rem;
    font-size: 2.5rem;
    text-align: center;
}
.sidenav li{
    font-size: 1.5rem;
    list-style: none;
    margin-left: 5%;
}
.sidenav ul{
    font-size: 2rem;
    margin: 0%;
    padding-left: 2%;
    overflow-y:visible;
}
.sidenav a{
    color: bisque;
    text-decoration: none;
}
.sidenav a:hover{
    text-decoration: underline;
}
.sidenav li{
    display: none;
}
.sidenav ul:hover li{
    display: block;
}

th {
    border: #9ea3a0 0.5px solid;
    background-color: #33661e;
    color: beige;
    font-size: 2.5rem;
}

td {
    border: #9ea3a0 0.5px solid;
    background-color: #333330;
    padding: 0.5%;
    font-size: 2rem;
}
img {
    width: 800px;
    display: block;
}

.description {
    font-family: 'Merriweather Sans', 'Arial', sans-serif;
}

.code {
    font-family: "Cutive Mono", Courier, monospace;
}

a[href="#to-top"] {
   display: block;
   float: right;
   background-color: #33661e;
   padding: 0.5%;
   text-decoration: none;
   color: white;
}
a[href="#to-top"]:hover{
    background-color: #1d4e09;
}
a[href="#to-top"]:active{
    background-color: black;
}